{% extends "base.html" %}{% block content %}
<form class="card" method="post" style="max-width:380px;margin:auto">
 <h2>{{ 'Sign up' if mode == 'register' else 'Login' }}</h2>
 {% if mode == 'register' %}<input name="name" placeholder="Name" required>{% endif %}
 <input name="email" type="email" placeholder="Email" required>
 <input name="password" type="password" placeholder="Password" required>
 <button class="btn">{{ 'Create account' if mode == 'register' else 'Login' }}</button>
</form>{% endblock %}
